---
import { getCollection } from "astro:content";

import Button from "@/components/Button.astro";
import EventCard from "@/components/EventCard.astro";
import TalkCard from "@/components/TalkCard.astro";
import ContactForm from "@/components/ContactForm.astro";
import BlogItem from "@/components/BlogItem.astro";
import VisionCard from "@/components/VisionCard.astro";

import Layout from "@/layouts/Layout.astro";

import QuoteL from "@/assets/images/Quote_l.png";
import QuoteR from "@/assets/images/Quote_r.png";
import Preparation from "@/assets/images/backgrounds/Prepare.jpg";
import Audience from "@/assets/images/backgrounds/Audience.jpg";

const allEvents = await getCollection("event");
const allBlogs = await getCollection("read");
const allTalks = await getCollection("watch");
---

<Layout title="TEDxKMUTT">
    <main>
        <div>
            <p>Ideas worth spreading</p>
            <div>
                <h1>Reimagining the Future, One Talk at a Time</h1>
                <p>
                    Experience thought-provoking talks from visionary thinkers
                    and innovators at King Mongkut's University of Technology
                    Thonburi
                </p>
            </div>
            <div>
                <Button>Watch talks</Button>
                <Button variant="accent">Read blogs</Button>
            </div>
        </div>
        <div>
            <img src={QuoteL.src} alt="Quote_L" />
            <img src={QuoteR.src} alt="Quote_R" />
            <p>Ideas worth spreading</p>
        </div>
        <div>
            <img src={Preparation.src} alt="TEDx Preparation" />
            <div>
                <small>About us</small>
                <h2>Ideas in Action at KMUTT</h2>
                <p>
                    TEDxKMUTT brings cutting-edge ideas to King Mongkut's
                    University of Technology Thonburi. We showcase innovative
                    thinkers from our community and beyond, fostering
                    intellectual growth and inspiration
                </p>
            </div>
            <Button>Getting to know us</Button>
        </div>
        <div class="grid grid-cols-3">
            <VisionCard thumbnail={Audience} text="Innovation" />
            <VisionCard thumbnail={Audience} text="Collaboration" />
            <VisionCard thumbnail={Audience} text="Impact" />
        </div>
        <div>
            <div>
                <small>TEDx</small>
                <h2>What is TEDx?</h2>
                <p>
                    In the spirit of discovering and spreading ideas, TED has
                    created a program called TEDx. TEDx is a program of local,
                    self-organized events that bring people together to share a
                    TED-like experience. Our event is called TEDx[name], where x
                    = independently organized TED event. At our TEDx[name]
                    event, TED Talks video and live speakers will combine to
                    spark deep discussion and connection in a small group. The
                    TED Conference provides general guidance for the TEDx
                    program, but individual TEDx events, including ours, are
                    self-organized.
                </p>
            </div>
            <Button>Explore more of TEDx</Button>
            <img src="" alt="TEDx" />
        </div>
        <div>
            <small>Our past journeys</small>
            <h2>A Legacy of Inspiration</h2>
            <p>
                Explore our previous events that have illuminated groundbreaking
                research, visionary projects, and transformative ideas born at
                KMUTT and beyond
            </p>
            <!-- <EventCard event={allEvents} /> -->
        </div>
        <div>
            <div>
                <small>Highlighted talks</small>
                <h2>Ideas That Resonate</h2>
                <p>
                    Watch standout presentations from KMUTT researchers, alumni,
                    and invited experts that exemplify our commitment to
                    advancing knowledge and technology
                </p>
            </div>
            <div>
                <!-- {
                    allTalks.map((talk) => (
                        <TalkCard talk={talk} />
                    ))
                } -->
            </div>
            <Button>All talks</Button>
        </div>
        <div>
            <div>
                <small>Read blogs</small>
                <h2>Beyond the Stage</h2>
                <p>
                    Delve deeper into TEDxKMUTT talks with expert analyses,
                    speaker interviews, and explorations of how these ideas are
                    shaping our future
                </p>
            </div>
            <!-- <BlogItem /> -->
            <Button>All blogs</Button>
        </div>
        <div>
            <ContactForm />
        </div>
    </main>
</Layout>
