---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import Button from "@/components/Button.astro";
import ContactForm from "@/components/ContactForm.astro";
import BlogItem from "@/components/BlogItem.astro";
import VisionCard from "@/components/VisionCard.astro";
import Container from "@/components/Container.astro";
import Section from "@/components/Section.astro";

import Layout from "@/layouts/Layout.astro";

import QuoteL from "@/assets/images/Quote_l.webp";
import QuoteR from "@/assets/images/Quote_r.webp";
import Preparation from "@/assets/images/backgrounds/Prepare.jpg";
import StageImg from "@/assets/images/backgrounds/Stage.jpg";
import StairImg from "@/assets/images/backgrounds/Stair.jpg";
import Audience from "@/assets/images/backgrounds/Audience.jpg";
import EventDecoreImg from "@/assets/images/wave-line-1.webp";
import BlogDecoreImg from "@/assets/images/wave-line-2.webp";
import TedxDecoreImg from "@/assets/images/wave-line-3.webp";
import QuoteDecore from "@/assets/images/wave-line-4.webp";
import TedxImg from "@/assets/images/Tedx.webp";
import EngBuildImg from "@/assets/images/backgrounds/KMUTT_Eng_Building.webp";
import SwiperTalk from "@/components/SwiperTalk.astro";
import SwiperEvent from "@/components/SwiperEvent.astro";
import { Image } from "astro:assets";

const allEvents = await getCollection("event");
const allTalks = await getCollection("watch");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const allReadings = await getCollection("read");

const allAuthors = await getCollection("author");
const authorMap = Object.fromEntries(
    allAuthors.map((author) => [author.id, author.data])
);
---

<Layout title="TEDx KMUTT">
    <div class="space-y-40 md:space-y-80 overflow-hidden">
        <div
            class="relative bg-gray-400 flex justify-center items-center h-[60vh] m-2 p-8 rounded-3xl overflow-clip"
        >
            <Image
                src={EngBuildImg}
                alt="Engineering Building"
                class="absolute top-0 left-0 w-full h-full inset-0 object-cover"
            />
            <div class="absolute bg-black opacity-60 w-full h-full top-0"></div>

            <div class="max-w-screen-md text-center z-10">
                <p
                    data-aos="fade-up"
                    class="text-primary-500 font-bold mb-3 md:mb-6"
                >
                    {t("home.hero.tag")}
                </p>
                <div class="mb-11">
                    <h1
                        data-aos="fade-up"
                        data-aos-delay="200"
                        class="text-4xl md:text-6xl font-semibold mb-2"
                    >
                        {t("home.hero.title")}
                    </h1>
                    <p
                        data-aos="fade-up"
                        data-aos-delay="400"
                        class="text-lg md:text-xl"
                    >
                        {t("home.hero.description")}
                    </p>
                </div>
                <div
                    data-aos="fade-up"
                    data-aos-delay="600"
                    class="flex justify-center flex-wrap gap-2"
                >
                    <Button href={`/${lang}/watch`}>
                        <Icon name="mdi:play" class="mr-2" />
                        {t("home.hero.watch")}
                    </Button>
                    <Button href={`/${lang}/read`} variant="accent">
                        <Icon
                            name="mdi:book-open-variant-outline"
                            class="mr-2"
                        />
                        {t("home.hero.read")}
                    </Button>
                </div>
            </div>
        </div>

        <div
            class="relative !mt-16 !mb-32 md:!mt-48 md:!mb-96 py-32 text-center"
        >
            <div class="relative max-w-screen-lg m-auto">
                <Image
                    src={QuoteL}
                    data-aos="fade-up"
                    alt="Quote_L"
                    class="absolute bottom-14 md:bottom-16 left-0 ml-2 w-12 md:w-24"
                />
                <p
                    data-aos="fade-up"
                    data-aos-delay="200"
                    data-aos-duration="700"
                    class="text-4xl md:text-6xl font-bold"
                >
                    Ideas worth spreading
                </p>
                <Image
                    src={QuoteR}
                    data-aos="fade-up"
                    alt="Quote_R"
                    class="absolute top-16 right-0 mr-2 w-12 md:w-24"
                />
            </div>
            <Image
                src={QuoteDecore}
                alt=""
                class="absolute top-1/2 -translate-y-2/3 md:-translate-y-1/3 left-1/2 md:left-0 max-w-screen-2xl md:max-w-full -translate-x-1/2 md:translate-x-0 md:w-full -z-10"
            />
        </div>

        <Container>
            <div
                data-aos="fade-up"
                data-aos-duration="1000"
                class="flex flex-col md:flex-row gap-8"
            >
                <Image
                    src={Preparation}
                    alt="TEDx Preparation"
                    class="md:w-1/2 aspect-video rounded-xl object-cover"
                />
                <Section
                    tag={t("home.about.tag")}
                    description={t("home.about.description")}
                >
                    <div slot="headline">
                        Ideas in <span class="c-underline">Action</span> at KMUTT
                    </div>
                    <Button href={`/${lang}/about`}>
                        {t("home.about.more")}
                    </Button>
                </Section>
            </div>
        </Container>

        <Container>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                <VisionCard
                    data-aos="fade-up"
                    thumbnail={Audience}
                    text={t("home.vision.1")}
                />
                <VisionCard
                    data-aos="fade-up"
                    data-aos-delay="200"
                    thumbnail={StairImg}
                    text={t("home.vision.2")}
                />
                <VisionCard
                    data-aos="fade-up"
                    data-aos-delay="400"
                    thumbnail={StageImg}
                    text={t("home.vision.3")}
                />
            </div>
        </Container>
        <div class="relative">
            <Container>
                <div
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    class="flex flex-col-reverse justify-between gap-10 md:flex-row"
                >
                    <Section
                        tag={t("home.tedx.tag")}
                        description={t("home.tedx.description")}
                    >
                        <div slot="headline">
                            What is <span class="c-underline">TEDx?</span>
                        </div>
                        <Button
                            href="https://www.ted.com/about/programs-initiatives/tedx-program"
                            target="_blank"
                        >
                            {t("home.tedx.more")} &nbsp;
                            <Icon name="mdi:open-in-new" />
                        </Button>
                    </Section>
                    <Image
                        src={TedxImg}
                        alt="TEDx"
                        class="aspect-video md:aspect-auto md:w-1/2 object-cover border border-gray-500 rounded-2xl duration-200 shadow-[0_0_2rem_0_rgba(0,0,0,0.3)] hover:shadow-primary-600"
                    />
                </div>
            </Container>
            <Image
                src={TedxDecoreImg}
                alt=""
                class="absolute top-0 -translate-y-2/3 md:w-full -z-10 left-1/2 md:left-0 -translate-x-1/2 max-w-screen-2xl md:max-w-full md:translate-x-0"
            />
        </div>

        <div class="relative">
            <Container>
                <Section
                    tag={t("home.events.tag")}
                    description={t("home.events.description")}
                    style="md:text-center mb-12"
                >
                    <div slot="headline">
                        A <span class="c-underline">Legacy</span> of Inspiration
                    </div>
                </Section>
                <SwiperEvent allEvents={allEvents} />
            </Container>
            <Image
                src={EventDecoreImg}
                alt=""
                class="absolute bottom-40 md:bottom-0 translate-y-1/2 md:w-full -z-10 left-1/2 md:left-0 -translate-x-1/2 max-w-screen-2xl md:max-w-full md:translate-x-0"
            />
        </div>
        <div class="bg-[#131313] py-32">
            <Container>
                <Section
                    tag={t("home.talks.tag")}
                    description={t("home.talks.description")}
                    style="md:text-center mb-12"
                >
                    <div slot="headline">
                        Ideas That <span class="c-underline">Resonate</span>
                    </div>
                </Section>
                <SwiperTalk allTalks={allTalks} />
                <div class="flex justify-end mt-8">
                    <Button href={`/${lang}/watch`}>
                        {t("home.tedx.more")}
                    </Button>
                </div>
            </Container>
        </div>
        <div class="relative">
            <Container>
                <Section
                    tag={t("home.read.tag")}
                    description={t("home.read.description")}
                    style="md:text-center"
                >
                    <div slot="headline">
                        <h2>
                            <span class="c-underline">Beyond</span> the Stage
                        </h2>
                    </div>
                </Section>
                <div
                    data-aos="fade-up"
                    data-aos-delay="200"
                    class="grid sm:grid-cols-2 lg:grid-cols-3 gap-y-12"
                >
                    {
                        allReadings.slice(0, 6).map((reading) => {
                            const author = authorMap[reading.data.author.id];
                            return (
                                <a href={`/${lang}/read/${reading.slug}`}>
                                    <BlogItem
                                        data-aos="fade-up"
                                        blog={reading}
                                        author={author}
                                    />
                                </a>
                            );
                        })
                    }
                </div>
                <div class="flex justify-end mt-8">
                    <Button href={`/${lang}/read`}>{t("home.read.more")}</Button
                    >
                </div>
            </Container>
            <Image
                src={BlogDecoreImg}
                alt=""
                class="absolute top-0 -translate-y-1/4 md:w-full -z-10 left-1/2 md:left-0 -translate-x-1/2 max-w-screen-2xl md:max-w-full md:translate-x-0"
            />
        </div>
        <ContactForm />
    </div>

    <style is:global>
        .c-underline {
            position: relative;
        }
        .c-underline::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            height: 12px;
            width: 100%;
            border-top: solid 2px;
            border-color: #eb0028 transparent transparent transparent;
            border-radius: 50%;
            rotate: -2deg;
        }
        .swiper-container-free-mode > .swiper-wrapper {
            transition-timing-function: linear;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            color: white;
        }
    </style>
    <script>
        import AOS from "aos";
        import "aos/dist/aos.css";
        import "swiper/css";
        import "swiper/css/navigation";
        import "swiper/css/pagination";

        AOS.init({
            offset: 120,
            duration: 500,
            easing: "ease-in-out",
            once: true,
        });
    </script>
</Layout>
