---
import BlogItem from "@/components/BlogItem.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

const blogPosts = await getCollection('read', entry => entry.data.author.id === 'jerome-tana');
const author = await getEntry('author', 'jerome-tana');

---

<Layout title="TEDxKMUTT">
    <main>TEDxKMUTT</main>
    {blogPosts.map((post) => (
        <BlogItem
          thumbnail={post.data.thumbnail}
          categories={post.data.categories}
          title={post.data.title}
          author={author}
          pubDate={post.data.pubDate}
        />
      ))}
</Layout>
