---
const {
    variant = "normal",
    href = null,
    type = "button",
    disabled = false,
} = Astro.props;

const variantClasses: { [key: string]: string } = {
    normal: "bg-primary-500 text-white hover:bg-primary-600",
    accent: "bg-white text-primary-500 hover:bg-gray-200",
    border: "border-2 border-primary-500 text-primary-500 hover:bg-primary-600 hover:text-white",
    text: "text-primary-500 hover:underline",
};

const buttonClasses = `
  px-4 py-2 rounded-full font-bold duration-150 inline-block 
  ${variantClasses[variant]} 
  ${disabled ? "opacity-50 cursor-not-allowed" : ""}
`;
---

{
    href ? (
        <a href={href} class={buttonClasses}>
            <slot />
        </a>
    ) : (
        <button type={type} class={buttonClasses} disabled={disabled}>
            <slot />
        </button>
    )
}
