---
import { flattenMarkdown } from "@/i18n/utils";
interface Props {
    blog: Blog;
    author: Author;
}

const { blog, author } = Astro.props as Props;
---

<div class="text-white rounded-lg space-y-3">
    <div class="relative rounded-2xl overflow-hidden">
        <img
            src={blog.data.thumbnail.src}
            alt={blog.data.thumbnail.alt}
            class="w-full h-52 object-cover"
        />
        <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="flex items-center">
        {
            blog.data.categories.map((category) => (
                <span class="bg-[#46000C] mt-6 mb-2 text-red-600 rounded-full text-sm px-3 py-1 mr-2">
                    {category.toUpperCase()}
                </span>
            ))
        }
    </div>
    <h2 class="text-2xl font-bold">{blog.data.title}</h2>
    <p class="text-gray-400 text-md line-clamp-2">
        {flattenMarkdown(blog.body)}
    </p>
    <div class="flex items-center space-x-1 space-y-4">
        <img
            src={author.avatar.src}
            class="w-8 h-8 object-cover rounded-full mr-2"
            alt={`${author.name}'s avatar`}
        />
        <div class="text-sm">
            <p>{author.name}</p>
            <p class="text-xs text-gray-400">
                {blog.data.pubDate.toDateString()}
            </p>
        </div>
    </div>
</div>
