---
import { flattenMarkdown } from "@/i18n/utils";
interface Props {
    blog: Blog;
    author: Author;
}

const { blog, author, ...props } = Astro.props as Props;
---


<div {...props}>
    <div
        class="text-white p-2 pb-8 rounded-3xl space-y-6 duration-200 hover:bg-[#ffffff1c]"
    >
        <div class="relative rounded-2xl overflow-hidden">
            <img
                src={blog.data.thumbnail.src}
                alt={blog.data.thumbnail.alt}
                class="w-full aspect-video object-cover"
            />
            <div class="absolute inset-0 bg-black opacity-50"></div>
        </div>
        <div class="flex items-center">
            {
                blog.data.categories.map((category) => (
                    <span class="bg-[#46000C] text-red-600 rounded-full text-sm px-2 py-1 mr-2">
                        {category.toUpperCase()}
                    </span>
                ))
            }
        </div>
        <div class="space-y-2">
            <h2 class="text-2xl font-bold">{blog.data.title}</h2>
            <p class="text-gray-400 text-md line-clamp-2">
                {flattenMarkdown(blog.body)}
            </p>
        </div>
        <div class="flex items-center gap-1">
            <img
                src={author.avatar.src}
                class="w-8 h-8 object-cover rounded-full mr-2"
                alt={`${author.name}'s avatar`}
            />
            <div class="text-sm">
                <p>{author.name}</p>
                <p class="text-xs text-gray-400">
                    {blog.data.pubDate.toDateString()}
                </p>
            </div>
        </div>
    </div>
</div>
