---
const { thumbnail, categories, title, content, author, pubDate } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-900 text-white">
    <img class="w-full" src={thumbnail?.src} alt={thumbnail?.alt || 'Blog thumbnail'}>
    <div class="px-6 py-4">
      <div class="flex items-center mb-2">
        <span class="bg-red-600 text-white text-xs font-bold px-2 py-1 rounded">{categories.join(', ')}</span>
        <img class="w-8 h-8 rounded-full ml-4" src={author?.avatar?.src} alt={author?.avatar?.alt || 'Author avatar'}>
      </div>
      <div class="font-bold text-xl mb-2">{title}</div>
      <p class="text-gray-400 text-base truncate-2">{content}</p>
    </div>
    <div class="px-6 pt-4 pb-2 flex items-center">
      <img class="w-10 h-10 rounded-full" src={author?.avatar?.src} alt={author?.avatar?.alt || 'Author avatar'}>
      <div class="ml-4">
        <p class="text-sm">{author.name}</p>
        <p class="text-xs text-gray-500">{new Date(pubDate).toLocaleDateString()}</p>
      </div>
    </div>
  </div>