---
import { Image } from "astro:assets";
import W_logo from "@/assets/images/logos/TEDxKMUTT_w.png";
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
    <div class="px-5 py-12 bg-black text-white leading-8 lg:px-16 lg:py-20">
        <div class="flex flex-col justify-between gap-20 mb-12 md:flex-row">
            <div class="space-y-8">
                <Image src={W_logo} alt="TEDxKMUTT logo" class="w-64" />
                <p>
                    This independent TEDx event is operated under license from
                    TED.
                </p>
            </div>
            <div class="flex flex-col gap-16 md:flex-row">
                <div class="space-y-6">
                    <p class="font-bold text-lg">
                        {t("footer.info").toUpperCase()}
                    </p>
                    <ul class="space-y-4">
                        <li>
                            <a href={`/${lang}/events/`}>
                                {t("nav.events")}
                            </a>
                        </li>
                        <li>
                            <a href={`/${lang}/about/`}>
                                {t("nav.about")}
                            </a>
                        </li>
                        <li>
                            <a href={`/${lang}/watch/`}>
                                {t("nav.watch")}
                            </a>
                        </li>
                        <li>
                            <a href={`/${lang}/read/`}>
                                {t("nav.read")}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="space-y-6">
                    <p class="font-bold text-lg">
                        {t("footer.contact").toUpperCase()}
                    </p>
                    <ul class="space-y-4">
                        <li>+66-90-986-8694</li>
                        <li>
                            <a
                                href="mailto:contact@tedxkmutt.com"
                                class="hover:underline"
                            >
                                contact@tedxkmutt.com
                            </a>
                        </li>
                        <li class="w-72">
                            <a
                                href="https://g.co/kgs/nvQJ1Mv"
                                class="hover:underline"
                            >
                                {t("footer.contact.location")}
                            </a>
                        </li>
                    </ul>
                    <ul class="flex gap-3">
                        <li>
                            <a
                                href="https://www.facebook.com/TEDxKMUTT"
                                target="_blank"
                                class="block bg-white p-1 rounded-full hover:bg-gray-300 duration-150"
                            >
                                <Icon
                                    name="mdi:facebook"
                                    class="text-primary-500"
                                    size={48}
                                />
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/tedxkmutt_/"
                                target="_blank"
                                class="block bg-white p-1 rounded-full hover:bg-gray-300 duration-150"
                            >
                                <Icon
                                    name="mdi:instagram"
                                    class="text-primary-500"
                                    size={48}
                                />
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://www.youtube.com/@tedxkmuttchannel5359"
                                target="_blank"
                                class="block bg-white p-1 rounded-full hover:bg-gray-300 duration-150"
                            >
                                <Icon
                                    name="mdi:youtube"
                                    class="text-primary-500"
                                    size={48}
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="border-t border-white" />
        <div
            class="flex flex-col-reverse justify-between gap-12 mt-8 md:flex-row"
        >
            <p>© 2024 TEDxKMUTT. All rights reserved.</p>
            <div class="inline-flex flex-col gap-6 md:flex-row">
                <p>{t("footer.privacy")}</p>
                <p>
                    {t("footer.terms")}
                </p>
                <p>
                    {t("footer.cookies")}
                </p>
            </div>
        </div>
    </div>
</footer>
