---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";
import type { Talk } from "@/types/Talk";

interface Props {
    talk: {
        id: string;
        data: Talk;
        collection: string;
    };
    className?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { talk, className, ...props } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/images/talks/2016/*.{jpeg,jpg,png,gif}"
);

const { id, data } = talk;

if (!images[data.thumbnail.src]) {
    throw new Error(
        `"${data.thumbnail.src}" does not exist in glob: "src/assets/images/talks/2016/*.{jpeg,jpg,png,gif}"`
    );
}
---

<div {...props} class={className}>
    <a href={`/${lang}/watch/${id}`}>
        <div
            class="group relative flex flex-col justify-end h-80 sm:h-96 pb-6 px-4 rounded-2xl overflow-clip"
        >
            <Icon
                name="mdi:play"
                class="absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white opacity-60 duration-200 group-hover:opacity-0"
                size={80}
            />
            <div
                class="absolute z-10 w-full h-3/4 bottom-0 left-0 bg-gradient-to-t from-primary-500 to-[#00000000] opacity-0 duration-200 group-hover:opacity-100"
            >
            </div>
            <div
                class="absolute z-10 w-full h-3/4 bottom-0 left-0 bg-gradient-to-t from-black to-[#00000000] duration-200 group-hover:opacity-0"
            >
            </div>
            <Image
                src={images[data.thumbnail.src]()}
                alt={data.title}
                class="absolute w-full h-full top-0 left-0 bg-gray-500 object-cover"
            />
            <div class="z-20">
                <div
                    class="translate-y-36 duration-200 group-hover:translate-y-0"
                >
                    <p class="text-gray-300 text-sm mb-2">
                        {data.speaker.name}
                    </p>
                    <h2 class="text-lg font-bold">{data.title}</h2>
                    <p
                        class="text-gray-300 my-3 leading-7 line-clamp-5 opacity-0 duration-100 group-hover:opacity-100"
                    >
                        {data.description}
                    </p>
                </div>
                <div>
                    <Button variant={"border"}>
                        <Icon name="mdi:play" class="mr-2" />
                        {t("watch.now")}
                    </Button>
                </div>
            </div>
        </div>
    </a>
</div>
