---
import Button from "@/components/Button.astro";
import { Icon } from "astro-icon/components";

interface Props {
    title?: string;
}

// set default values of title

const { title = "Check out this article" } = Astro.props;

// ---
---

<div class="flex flex-wrap gap-2">
    <Button
        variant="accent"
        href={`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(Astro.url.toString())}&quote=${encodeURIComponent(title)}`}
        target="_blank"
    >
        <Icon name="mdi:facebook" />&nbsp;Facebook
    </Button>
    <Button
        variant="accent"
        href={`https://twitter.com/intent/tweet?url=${encodeURIComponent(Astro.url.toString())}&text=${encodeURIComponent(title)}`}
        target="_blank"
    >
        <Icon name="mdi:twitter" />&nbsp;Twitter
    </Button>
    <Button
        variant="accent"
        href={`https://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(Astro.url.toString())}&title=${encodeURIComponent(title)}`}
        target="_blank"
    >
        <Icon name="mdi:linkedin" />&nbsp;LinkedIn
    </Button>
    <Button
        variant="accent"
        href={`https://wa.me/?text=${encodeURIComponent(title + " " + Astro.url.toString())}`}
        target="_blank"
    >
        <Icon name="mdi:whatsapp" />&nbsp;WhatsApp
    </Button>
    <Button
        variant="accent"
        href={`mailto:?subject=${encodeURIComponent(title)}&body=${encodeURIComponent(Astro.url.toString())}`}
    >
        <Icon name="mdi:email" />&nbsp;Email
    </Button>
</div>
