---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";
import Banner from "@/components/Banner";
import Button from "@/components/Button.astro";
import BlogItem from "@/components/BlogItem.astro";
import cover from "~/assets/images/backgrounds/KMUTT_Eng_Building.webp";
import Container from "@/components/Container.astro";

const lang = getLangFromUrl(Astro.url);
const allReadings = await getCollection("read");

const allAuthors = await getCollection("author");
const authorMap = Object.fromEntries(
    allAuthors.map((author) => [author.id, author.data])
);

const categories = [
    ...new Set(allReadings.flatMap((reading) => reading.data.categories)),
];
---

<Layout title="Read · TEDxKMUTT">
    <main>
        <Banner
            tag="Read our articles"
            title="Beyond the Stage"
            description="Delve deeper into TEDxKMUTT talks with expert analyses, speaker interviews, and explorations of how these ideas are shaping our future"
            cover={cover}
        />
        <Container>
            <!-- <div class="flex flex-wrap gap-2 mb-4">
                {
                    categories.map((category) => (
                        <Button
                            variant="border"
                            href={`/${lang}/read?category=${category}`}
                        >
                            {category.toUpperCase()}
                        </Button>
                    ))
                }
            </div> -->
            <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                {
                    allReadings.map((reading) => {
                        const author = authorMap[reading.data.author.id];
                        return <BlogItem blog={reading} author={author} />;
                    })
                }
            </div>
        </Container>
    </main>
</Layout>
