---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";
import Banner from "@/components/Banner";
import BlogItem from "@/components/BlogItem.astro";
import cover from "@/assets/images/backgrounds/KMUTT_Eng_Building.png";

const lang = getLangFromUrl(Astro.url);
const allReadings = await getCollection("read");

const allAuthors = await getCollection("author");
const authorMap = Object.fromEntries(
    allAuthors.map((author) => [author.id, author.data]),
);

const badgeClasses = `
    const badgeClasses = "inline-block px-3 py-1 border-2 border-red-500 rounded-full 
    text-red-500 font-semibold uppercase cursor-pointer 
    transition-colors duration-300 hover:bg-red-500 hover:text-white";
`;

const categories = [...new Set(allReadings.flatMap((reading) => reading.data.categories))];
---

<Layout title="Read · TEDxKMUTT">
    <main>
        <Banner
            tag="Read our articles"
            title="Beyond the Stage"
            description="Delve deeper into TEDxKMUTT talks with expert analyses, speaker interviews, and explorations of how these ideas are shaping our future"
            cover={cover}
        />
        <div class="mx-12 px-2">
            <div class="flex flex-wrap gap-2 mb-4"> 
                {
                    categories.map((category) => (
                        <a href={`/${lang}/read?category=${category}`}>
                            <span class={badgeClasses}>{category}</span>
                        </a>
                    ))
                }
            </div>
        </div>
        <div class="mx-12 px-2">
            <div class="grid grid-cols-1 lg:grid-cols-3">
                {
                    allReadings.map((reading) => {
                        const author = authorMap[reading.data.author.id];
                        return (
                            <a href={`/${lang}/read/${reading.slug}`}>
                                <BlogItem blog={reading} author={author} />
                            </a>
                        );
                    })
                }
            </div>
        </div>
    </main>
</Layout>
