---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";
import Banner from "@/components/Banner";
import BlogItem from "@/components/BlogItem";
import cover from "@/assets/images/backgrounds/KMUTT_Eng_Building.png";

const lang = getLangFromUrl(Astro.url);
const allReadings = await getCollection("read");

const truncate = (text: string, maxLength: number) => {
  if (text.length > maxLength) {
    return text.substring(0, maxLength) + '...';
  }
  return text;
};

const allAuthors = await getCollection('author');
const authorMap = Object.fromEntries(allAuthors.map(author => [author.id, author.data]));
---
<Layout title="Read · TEDxKMUTT">
    <main>
        <Banner
            tag="Read our articles"
            title="Beyond the Stage"
            description="Delve deeper into TEDxKMUTT talks with expert analyses, speaker interviews, and explorations of how these ideas are shaping our future"
            cover={cover}
        />
        <h1>Read</h1>
        <div class="container">

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {allReadings.map((reading) => {
                const author = authorMap[reading.data.author.id];
                return (
                    <a href={`/${lang}/read/${reading.slug}`}>
                        <BlogItem 
                            key={reading.slug}
                            thumbnail={reading.data.thumbnail}
                            title={reading.data.title}
                            categories={reading.data.categories}
                            content={truncate(reading.body, 200)}
                            author={author.name}
                            authorAvatar={author.avatar.src}
                            pubDate={new Date(reading.data.pubDate).toLocaleDateString()}
                        />
                    </a>
                );
            })}
        </div>
    </div>
    </main>
</Layout>