---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@/i18n/utils";
import Banner from "@/components/Banner";
import BlogItem from "@/components/BlogItem";
import cover from "@/assets/images/backgrounds/KMUTT_Eng_Building.png";


const lang = getLangFromUrl(Astro.url);
const allReadings = await getCollection("read");

const truncate = (text: string, maxLength: number) => {
  if (text.length > maxLength) {
    return text.substring(0, maxLength) + '...';
  }
  return text;
};
---

<Layout title="Read · TEDxKMUTT">
    <main>
        <Banner
            tag="Read our articles"
            title="Beyond the Stage"
            description="Delve deeper into TEDxKMUTT talks with expert analyses, speaker interviews, and explorations of how these ideas are shaping our future"
            cover={cover}
        />
        <h1>Read</h1>

        <div>
            <p>
                {
                    allReadings.map((reading) => (
                        
                        <a href={`/${lang}/read/${reading.slug}`}>

                            <BlogItem
                                key={reading.slug}
                                thumbnail={reading.data.thumbnail}
                                title={reading.data.title}
                                categories={reading.data.categories}
                                content={truncate(reading.body, 200)}
                                author={reading.data.author}
                                pubDate={reading.data.pubDate}
                            />
                        </a>
                    ))
                }
            </p>
        </div>
    </main></Layout
>
